.App {
  width: 75vw;
  height: 100vh;
  margin: auto;
  text-align: center;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("./Helpers/quiz.jpg");
  background-size: cover;
  background-position: center;
}
.App h1{
  font-size: 2.5rem;
  font-family: cursive, monospace, sans-serif;
}

